    <% @posts.each do |post| %>
      <div class="post">
        <p><%= post.user.name %> posted at: <em><%= post.created_at.strftime("%l:%M %P") %></em></p>
        <div class="inline-block"
            data-controller="hovercard"
            data-hovercard-url-value="<%= hovercard_post_path(post) %>"
            data-action="mouseenter->hovercard#show mouseleave->hovercard#hide">
          <h2><%= link_to post.title, post, class: "branded-link" %></h2>
        </div>
      </div>
    <% end %>