<%= render "partials/navbar" %>

<div class="search-container" data-controller="search">
  <div class="search-form" >
    <h1>Search</h1>
    <form action="results" method="get">
      <label for="sys-search">Search the  System</label>
      <input name="search-term" type="text" minlength=2
            placeholder="Stimulus ..." aria-label="Search through site content" autofocus
            data-search-target="searchItem"
            data-action="input->search#requestSearch"
      >
    </form>
  </div>
  <div class="search-results" data-search-target="searchResults">
    <ul>
      <li class="searching-interim">
        <span class="result-secondary">Searching....</span>
      </li>
    </ul>
  </div>
</div>