<div class="bg-white flex flex-col max-w-md mx-auto" data-controller="search">
  <div class="search-form" >
    <span class="w-auto flex justify-end items-center text-gray-500 p-2">
      <i class="material-icons text-3xl">Search</i>
    </span>
    <form action="results" method="get" class="mb-3 flex-auto">
      <input name="search-term" type="text" minlength=2 autofocus
            placeholder="Search by title ..." class="w-full rounded p-2"
            data-search-target="searchItem"
            data-action="input->search#requestSearch"
      >
    </form>
  </div>
  <div class="search-results" data-search-target="searchResults">
    <ul>
      <li class="searching-interim">
        <span class="result-secondary">Searching....</span>
      </li>
    </ul>
  </div>
</div>